@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

input {
  background-color: #A8EB12;
  border-radius: 10px;
  border: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
  font-family: 'Muli';
}

input::placeholder {
  color: black;
}